.movie-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;

}

.movie-component{
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    margin: 10px;
    padding: 8px;
    width: 300px;
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
}

.cover-img{
    height: 350px;
}

.movie-component:hover{
    border: 8px solid black;
    padding: 0;
    /* border-radius: 15px; */
}

.movie-name{
    margin: 0px 8px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info-col{
    display: flex;
    margin: 5px 7px;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    justify-content: space-between;
}

/* styling MovieFullContainer.js component */

.full-movie-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.316);
}

.full-cover-img{
    height: 350px;
    border: 3px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-coloumn{
    padding: 12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid black;
}

.info-coloumn>div{
    margin-bottom: 3px;
}

.movie-plot>div{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.movie-plot{
    margin: 5px 5px;
    padding: 15px;
    border: 3px solid black;
}

.cut-button{
    position: absolute;
    right: 40px;
    transform: scale(1.7);
    color: red;
}

.cut-button:hover{
    color: #3f48cc;
}